.style1 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.stylet {
    font-size:14.0pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.cedar {
    color:#DA07BA;
    font-family: Arial, Helvetica, sans-serif;
}
.mic {
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}
.ims {
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}
.gi {
    color:#FF6600;
    font-family: Arial, Helvetica, sans-serif;
}
.gccm {
    color:#339900;
    font-family: Arial, Helvetica, sans-serif;
}
